<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CondSpeak"
        tools:targetApi="31" >
        <activity
            android:name=".ui.Registro_Login.codigo_condominio.Codigo_Condominio"
            android:exported="false" />
        <activity
            android:name=".ui.Navigation.Drawer_and_Bottom_Nav"
            android:exported="false" />
        <activity
            android:name=".ui.Nav_drawer.selecionar_condominio.SelecionaCondominio"
            android:exported="false" />

        <activity
            android:name=".ui.Nav_bot.chat.chatusuariocindico.codigochat.Chat_usuario_sindico"
            android:exported="false" />
        <activity
            android:name=".ui.Nav_bot.chat.chatusuariocindico.selecionarpessoa.sindico_selecao_chat"
            android:exported="false" />
        <activity
            android:name=".ui.Nav_bot.Avisos.Quadrodeavisos.quadro_de_avisos"
            android:exported="false" />
        <activity
            android:name=".ui.Nav_bot.chat.chatcondominio.Chat_condominio"
            android:exported="false" />

        <activity
            android:name=".extra.Telaquaseprincipal"
            android:exported="false" />
        <activity
            android:name=".ui.Registro_Login.registercondominio.CadastroCondominioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Registro_Login.register.Tela_de_cadastro"
            android:exported="false" />
        <activity
            android:name=".ui.Registro_Login.login.TelaDeLogin"
            android:exported="false" />
        <activity
            android:name=".extra.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>